[翻译][RFC7230]Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing

* 原文链接: http://tools.ietf.org/html/7230

``` text
1.2. Syntax Notation
This specification uses the Augmented Backus-Naur Form (ABNF)
notation of [RFC5234] with a list extension, defined in Section 7,
that allows for compact definition of comma-separated lists using a
’#’ operator (similar to how the ’*’ operator indicates repetition).
Appendix B shows the collected grammar with all list operators
expanded to standard ABNF notation.

The following core rules are included by reference, as defined in
[RFC5234], Appendix B.1: ALPHA (letters), CR (carriage return), CRLF
(CR LF), CTL (controls), DIGIT (decimal 0-9), DQUOTE (double quote),
HEXDIG (hexadecimal 0-9/A-F/a-f), HTAB (horizontal tab), LF (line
feed), OCTET (any 8-bit sequence of data), SP (space), and VCHAR (any
visible [USASCII] character).

As a convention, ABNF rule names prefixed with "obs-" denote
"obsolete" grammar rules that appear for historical reasons.
```
``` text
1.2. 语法标记
本规范文档使用带扩展链表的扩展巴科范式(ABNF)[RFC5234]标记, 定义在第7节中, 
这允许使用一个逗号分隔的列表中定义紧凑
'＃'符（类似'*'操作符的指示重复）。
附录B列出了所有列表操作收集到的语法
扩展到标准ABNF符号. 

以下核心规则通过引用包括，如在定义
[RFC5234]，附录B.1：ALPHA（字母），CR（回车），CRLF
（CR LF），CTL（控制），数字（十进制0-9），DQUOTE（双引号），
HEXDIG（十六进制0-9/ A-F/ A-F），HTAB（水平制表），LF（换行
饲料），OCTET（数据的任何8位序列），SP（空间），并且VCHAR（任何
可见[USASCII]字符）。

根据约定，以“obs-”为前缀ABNF规则名称表示
出现由于历史的原因“过时”的语法规则。
```

* 部份翻译来自google翻译.

#### 参考:
* [扩展巴科范式百科(英文)](https://en.wikipedia.org/wiki/Augmented_Backus%E2%80%93Naur_Form)


``` text
2.7.1. http URI Scheme
The "http" URI scheme is hereby defined for the purpose of minting
identifiers according to their association with the hierarchical
namespace governed by a potential HTTP origin server listening for
TCP ([RFC0793]) connections on a given port.
http-URI = "http:" "//" authority path-abempty [ "?" query ]
[ "#" fragment ]
The origin server for an "http" URI is identified by the authority
component, which includes a host identifier and optional TCP port
([RFC3986], Section 3.2.2). The hierarchical path component and
optional query component serve as an identifier for a potential
target resource within that origin server’s name space. The optional
fragment component allows for indirect identification of a secondary
resource, independent of the URI scheme, as defined in Section 3.5 of
[RFC3986].
A sender MUST NOT generate an "http" URI with an empty host
identifier. A recipient that processes such a URI reference MUST
reject it as invalid.
If the host identifier is provided as an IP address, the origin
server is the listener (if any) on the indicated TCP port at that IP
address. If host is a registered name, the registered name is an
indirect identifier for use with a name resolution service, such as
DNS, to find an address for that origin server. If the port
subcomponent is empty or not given, TCP port 80 (the reserved port
for WWW services) is the default.
Note that the presence of a URI with a given authority component does
not imply that there is always an HTTP server listening for
connections on that host and port. Anyone can mint a URI. What the
authority component determines is who has the right to respond
authoritatively to requests that target the identified resource. The
delegated nature of registered names and IP addresses creates a
federated namespace, based on control over the indicated host and
port, whether or not an HTTP server is present. See Section 9.1 for
security considerations related to establishing authority.
```

``` text 
2.7.1. http URI 方案

"HTTP"URI方案是为了minting标识特此来定义的, minting标识是根据他们的名字空间继承关系决定的,
名字空间被潜在的HTTP原始服务器在指定端口的基于TCP链接监听.
http-URI = "http:" "//" authority path-abempty [ "?" query ]
[ "#" fragment ]

一个原始服务器的"http"URI是一个被权威组件标定的, 它包含一个主机标识, 
和一个可选的TCP端口([RFC3986], Section 3.2.2). 继承路径组件和可先的查询组件做为
一个标识来服务, 是为了潜在的目标资源. 
做为可选组件的一部份, 可以间接的标识第二个资源, 独立于URI方案, 就是在[RFC3985]的第3.5节
中定义的.

一个发送者一定不能用一个空的主机标识来生成一个"http"URI. 接受者遇到这样的URI时必需
当无效的拒绝.

如果主机标识按IP地址的方式提供, 则源服务器就是在该IP上指定TCP端口的监听者. 如果主机是一个注册名,
注册名是一个间接的标识, 为了使用需要一个名字解析服务, 也就是DNS, 为了为源服务器找到一个地址. 如果
端口的子组成部份没有给字, 则TCP的80是默认的(该保留端口是给WWW服务使用的).


``